body {
    background-color: rgb(213, 232, 238);
}

.title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 44px;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 10px 10px;
    padding: 15px;
    border: black solid 2px;
    border-radius: 25px;
    background-color: lightcoral;
    box-shadow: 10px 10px 10px #333333
}

.display-screen {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    border: black solid 2px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 0 8px #000000;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.display-result {
    align-self: center;
    font-size: 45px;
    margin-right: 15px;
}

.calc-button {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(174, 213, 226);
    border-radius: 20px;
    border: none;
    font-size: 36px;
    box-shadow: 0px 6px #333333;
    font-weight: bold;
}

.calc-button:focus {
    outline: 0;
    border: solid #333333 3px;
}

.calc-button:hover{
    background-color: rgb(95, 164, 187);
}

.calc-button:active {
    background-color: rgb(164, 216, 233);
    box-shadow: 0px 0px #333333;
    transform: translateY(4px);
}